<h1>Title : <%= @event.title %></h1>
<p>Description : <%= @event.description %></p>
<p>Email de l'admin : <%= @event.administrator.email %></p>
<p>Nombre d'inscrit : <%= @event.attendances.size %></p>
<p>Email de l'admin : <%= @event.administrator.email %></p>
<p>Début : <%= @event.start_date %></p>
<p>Fin : <%= @event.end_date %></p>
<p>Lieu : <%= @event.location %></p>
<p>Prix : <%= @event.price %></p>